.element__like {
  width: 21px;
  height: 19px;
  margin: auto;
  margin-right: 2px;
  background-image: url(../../../images/like.svg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: opacity .8s ease-in;
}

.element__like:hover {
  opacity: .5;
  cursor: pointer;
}